<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Sample API Tests" verbose="1" parallel="classes" thread-count="1">

    <test name="Sample">
        <classes>
            <class name="com.proofpoint.sampleproject.tests.SampleTest"/>
        </classes>
    </test>

    <test name="FailureSample">
        <classes>
            <class name="com.proofpoint.sampleproject.tests.SampleFailureTest"/>
        </classes>
    </test>

</suite>
